* {
  box-sizing: content-box;
}

body {
  background-image: url("https://images.unsplash.com/photo-1498354136128-58f790194fa7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  width: 230px;
  border: 1px solid white;
  padding: 50px;
  border-radius: 30px;
}

.weather-box div {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.btn {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.btn button {
  display: block;
  margin-bottom: 3px;
}